body {
    background-color: #FFF;
    font-family: 'Raleway', sans-serif;
}
.container {
    width: 300px;
    height: auto;
    padding-bottom: 20px;
    background-color: #fff;
    border-radius: 15px;
    margin: 120px auto;
    font-size: 14px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.6);
}
h1 {
    width: cover;
    background-color: #001f4f;
    color: #fff;
    font-weight: 100;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-size: 16px;
    text-align: center;
    padding: 15px;
}
.billWrapper{
    padding: 10px 30px;
    width: cover;
    margin-bottom: 10px;
}
input,
select {
    width: 80%;
    border: none;
    border-bottom: 1px solid #0074D9;
    padding: 10px;
}
select {
    width: 88% !important;
}
input:focus{
    outline: none;
}
select:focus {
    outline: none;
}
button {
    margin: 20px auto;
    width: 150px;
    height: 50px;
    background-color: #39CCCC;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}
.tip {
    text-align: center;
    font-size: 15px;
    display: block;
}
.tip p{
    font-weight: bold;
}